@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: white;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  color: black;
  font-weight: 550;
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

header nav ul li:first-of-type {
  background-color: #806BDC;
  flex: 1 0 auto;
  text-align: center;
  width: 100%;
}

header nav ul li:first-of-type a {
  color: white;
  font-size: 1.5625rem;
  line-height: 2.4;
}

header nav ul li:not(:first-of-type) {
  flex-grow: 1;
  min-width: calc(100% / 3);
  padding: 1rem 0;
}

header nav ul li:not(:first-of-type):hover a {
  color: #806BDC;
}

header nav ul li figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  text-align: center;
}

header nav ul li figure img {
  display: block;
  height: 2rem;
  margin: 0 auto;
}

header nav ul li figure figcaption {
  font-size: 0.875rem;
}

.shopping-container {
  background-color: lightgrey;
  padding: 1.875rem 0;
  text-align: center;
}

.shopping-container img {
  height: 100%;
  width: 100%;
}

.sales {
  background-color: lightgrey;
  padding-bottom: 1.875rem;
}

.sales h2 {
  text-align: center;
  margin-bottom: 1.1875rem;
}

.sales table {
  border-collapse: collapse;
  margin: auto;
  table-layout: fixed;
  width: 100%;
}

.sales thead {
  background-color: #806BDC;
  color: white;
  visibility: collapse;
}

.sales tbody tr:nth-child(odd) {
  background-color: white;
}

.sales tr {
  border: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
}

.sales tr+tr {
  margin-top: 1rem;
}

.sales :is(th, td) {
  border: 1px solid grey;
  padding: 0.75rem;
}

.sales th {
  flex: 1 1 25%;
}

.sales td {
  flex: 1 1 50%;
  position: relative;
  padding-top: 1.4rem;
}

.sales td::before {
  background-color: #806BDC;
  border-bottom-left-radius: 20px;
  color: white;
  content: attr(data-column);
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.9;
  padding: 0 0.2rem 0.2rem 0.6rem;
  position: absolute;
  right: 0;
  top: 0;
}

main {
  color: #878787;
  font-size: 0.6875rem;
  margin: 1.25rem;
}

main h1 {
  font-size: 1.375rem;
  margin: 0.8125rem 0;
}

main h2 {
  margin: 1.625rem 0 0 0;
}

main p+p {
  margin-top: 1.1875rem;
}

main ul li {
  list-style-position: inside;
}

main .payment-options {
  margin-bottom: 0.8125rem;
}

footer {
  background-color: black;
  color: white;
  line-height: 4.875;
  text-align: center;
}

@media screen and (min-width: 481px) {
  header nav ul li:not(:first-of-type) {
    min-width: revert;
  }

  header nav ul li figure img {
    height: 4rem;
  }

  .shopping-container img {
    width: 90%;
  }

  .sales table {
    width: 90%;
  }

  .sales thead {
    visibility: visible;
  }

  .sales tr {
    display: revert;
  }

  .sales td {
    padding-top: 0.75rem;
  }

  .sales td::before {
    background-color: revert;
    content: "";
  }
}
