@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label,
button,
input {
  font-family: inherit;
  font-size: 100%;
  display: inline-block;
}

html {
  background: white;
  color: black;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.5;
}

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 1.6rem;
}

h1 {
  margin-bottom: 1.2rem;
}

.form {
  margin: 1rem 0;
  text-align: center;
}

.form label {
  margin-right: -3.63333px;
  padding-right: 0.4em;
  text-align: right;
  width: 40%;
}

.form input[type="text"] {
  padding: 0.2em 0.4em;
  width: 60%;
}

.form input[type="submit"] {
  margin-top: 1rem;
  padding: 0.4em 0.6em;
}

.result-paragraghs {
  margin: 1rem 0;
}

.last-result {
  color: white;
  font-weight: bold;
  padding: 3px;
  text-align: center;
}

.reset-button {
  display: none;
  padding: 0.4em 0.6em;
}

@media screen and (min-width: 32rem) {
  html {
    font-size: 16px;
  }
}
